@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}

p {
  
  color:red;font-size:100px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  
}
