
  @media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    color: red;
    font-size: 60px;
    text-align: center;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    
  }
}



